[run]
branch=True
omit = 
    cloudsync/providers/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    assert
    if __name__ == __main__:
    log.debug
    [.][.][.]
    raise NotImplementedError
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    if TYPE_CHECKING:
    @pytest.mark.manual
    @pytest.fixture
