language: python
cache: 
  pip: True

sudo: false

jobs:
    include:
    - name: lint
      stage: lint/unit
      script:
        - make -j3 lint
    - name: unit
      script:
        - pytest --durations=1 --cov=cloudsync --cov-report=xml -n=2 cloudsync/tests cloudsync/oauth/apiserver.py --timeout=300
        - ./docs/test.sh
      python:
        - '3.6'
        - '3.7'
    - stage: integ
      script:
          # only run tests if the interface or any implementations change
          # todo: move providers to their own individual repos/projects with a plugin model
        - ./test_providers.sh "gdrive,onedrive,box"
      python:
        - '3.6'
    - script:
          # only run tests if the interface or any implementations change
          # todo: move providers to their own individual repos/projects with a plugin model
        - ./test_providers.sh "dropbox,testodbiz"
      python:
        - '3.6'
    - stage: deploy
      if: type = push and tag =~ ^v
      python:
        - '3.6'
      script:
        - ./deploy.sh

after_success:
    - ./coverage.sh

branches:
    only:
    - master
    - /^v/

install:
- pip install -r requirements-dev.txt
- pip install -r requirements.txt
- openssl aes-256-cbc -K $encrypted_ac820621abca_key -iv $encrypted_ac820621abca_iv -in box.token.enc -out box.token -d
