language: python
cache: pip
sudo: false

jobs:
    include: 
    - name: lint
      stage: lint/unit
      script:
        - pylint cloudsync --ignore tests
        - mypy cloudsync
    - name: unit
      script:
        # tempoarily skip the path tests
        - pytest --durations=0 --cov=cloudsync -n=2 cloudsync/tests cloudsync/oauth/apiserver.py
      python:
        - '3.6'
        - '3.7'
    - stage: integ
      script:
          # only run tests if the interface or any implementations change
          # todo: move providers to their own individual repos/projects with a plugin model
        - ./test_providers.sh gdrive
      python:
        - '3.6'
    - script:
          # only run tests if the interface or any implementations change
          # todo: move providers to their own individual repos/projects with a plugin model
        - ./test_providers.sh "dropbox,onedrive"
      python:
        - '3.6'
    - stage: deploy
      if: type = push and tag =~ ^v
      python: 
        - '3.6'
      script: 
        - ./deploy.sh

after_success:
    - ./coverage.sh
      
branches:
    only:
    - master
    - /^v/

install:
- pip install -r requirements-dev.txt
- pip install -r requirements.txt
