[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "cloudsync"
author = "Atakama, LLC"
author-email = "dev-support@atakama.com"
home-page = "https://github.com/atakamallc/cloudsync"
description-file="README.md"
# MUST be from this list: https://pypi.org/pypi?%3Aaction=list_classifiers
classifiers=["Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
requires = ["arrow", "dataclasses", "pystrict", "msgpack", "requests_oauthlib"]
requires-python = ">=3.6"

[tool.flit.metadata.requires-extra]
dropbox = [ "dropbox", ]
gdrive = [ "httplib2", "google-api-python-client", "google-auth-httplib2", "google-auth-oauthlib", "oauth2client" ]
onedrive = [ "onedrivesdk_fork", ]

[tool.flit.scripts]
cloudsync = "cloudsync.command:main"
