pystrict
arrow~=0.17.0
msgpack
dataclasses
requests_oauthlib
requests
xxhash

# gdrive provider
google-oauth
google-auth-httplib2
google-api-python-client

# dropbox provider
dropbox>=10.3.0, <11.0.0
six>=1.12.0

# box provider
boxsdk[jwt]>=2.9.0

# other providers we run tests for
cloudsync-onedrive~=3.1.0
cloudsync-gdrive~=2.0.0

# command line 
python-daemon

# fsprovider
watchdog
pywin32; sys.platform == 'win32'
